<div class="mat-app-background basic-container">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"><mat-icon>graphic_eq</mat-icon></div>
      <mat-card-title>Vendas</mat-card-title>
      <mat-card-subtitle>01/01/2018 a 12/12/2018</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <div style="width:700px;height:50%"><canvas id="lineChart"></canvas></div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"><mat-icon>graphic_eq</mat-icon></div>
      <mat-card-title>Vendas</mat-card-title>
      <mat-card-subtitle>01/01/2018 a 12/12/2018</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <div style="width:700px;height:50%"><canvas id="lineChart2"></canvas></div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
